@charset "UTF-8";

/**
 * iPad in portrait mode
 * @type {[type]}
 */
@media only screen and (max-width: 768px) {
    #container {
        padding: 20px;
    }

    #mainFooter {
        padding-right: 20px;

    }
}

/**
 * iPhone in portrait mode
 * @type {[type]}
 */
@media only screen and (max-width: 480px) {
    body {
        font-size: .9em;
        padding-bottom: 96px;
    }

    #container {
        padding: 10px;
    }

    #mainFooter {
        padding-right: 10px;
        height: 64px;
        line-height: 64px;
    }
}